name: Build executables

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false  # Don't cancel other jobs if one fails
      matrix:
        scanner:
          - name: yas_artifact
            display: Genshin Impact
            features: genshin
          - name: yas_relic
            display: Star Rail
            features: starrail
          - name: yas_ww_echo
            display: Wuthering Waves
            features: wutheringwaves
          - name: yas
            display: Unified
            features: genshin,starrail,wutheringwaves

    name: Build ${{ matrix.scanner.display }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # For $commitCount
          lfs: true

      - name: Extract git-rev
        run: |
          $commitCount = git rev-list --count HEAD
          $shortHash = git rev-parse --short HEAD
          "GIT_REV=r$commitCount.$shortHash" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: Setup Toolchain
        run: rustup default nightly-msvc

      - name: Set version in Cargo.toml
        run: |
          $files = @(
              './Cargo.toml'
              './yas/Cargo.toml'
              './yas-genshin/Cargo.toml'
              './yas-starrail/Cargo.toml'
              './yas-application/Cargo.toml'
          )
          [regex]$pattern = '(?<=version = ").*(?=")'
          foreach ($file in $files) {
              $pattern.Replace((Get-Content -Raw $file), "0.0.0-$env:GIT_REV", 1) | Out-File -FilePath $file
          }

      - name: Build ${{ matrix.scanner.display }} Scanner
        run: cargo build --release --bin ${{ matrix.scanner.name }} --no-default-features --features ${{ matrix.scanner.features }}

      - name: Rename Output
        run: Move-Item ./target/release/${{ matrix.scanner.name }}.exe "${{ matrix.scanner.name }}_$env:GIT_REV.exe"

      - name: Upload ${{ matrix.scanner.display }} Binary
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.scanner.name }}_${{ env.GIT_REV }}
          path: ${{ matrix.scanner.name }}_${{ env.GIT_REV }}.exe